## Import Library

Import library that we need

In [1]:
import numpy as np
import pandas as pd
import joblib

Import the model that we saved

In [2]:
# Load all files
with open('model_nb.pkl', 'rb') as file_1:
  model_nb= joblib.load(file_1)

with open('model_scaler.pkl', 'rb') as file_2:
  model_scaler=joblib.load(file_2)

with open('list_num_col.txt', 'rb') as file_3:
  num_col= joblib.load(file_3)

with open('list_cat_col.txt', 'rb') as file_4:
  cat_col= joblib.load(file_4)

Now make a random data from generate random

In [3]:
# Generate random data
random = np.random.default_rng(seed=2895)
limit_balance = random.choice(np.arange(10000, 800000, 10000), size=30)
pay_0 = random.integers(-0.2, 8.0, size=30)
pay_2 = random.integers(-0.2, 7.0, size=30)
pay_3 = random.integers(-0.2, 7.0, size=30)
pay_4 = random.integers(-0.2, 8.0, size=30)
pay_5 = random.integers(-0.2, 7.0, size=30)
pay_6 = random.integers(-0.2, 7.0, size=30)
data_inf = pd.DataFrame({'limit_balance' : limit_balance, 'pay_0' : pay_0, 'pay_2' : pay_2, 'pay_3' : pay_3, 'pay_4' : pay_4, 'pay_5' : pay_5, 'pay_6' : pay_6})
data_inf

    limit_balance  pay_0  pay_2  pay_3  pay_4  pay_5  pay_6
0           40000      3      4      5      7      4      6
1          790000      0      5      4      6      3      3
2          400000      1      0      6      1      3      4
3           60000      4      6      3      1      4      3
4          280000      3      3      3      7      3      4
5          540000      6      1      6      5      6      2
6          100000      2      2      2      6      0      5
7          590000      2      5      3      7      0      2
8          430000      4      2      1      0      6      0
9          660000      1      2      0      6      3      5
10         620000      2      1      4      6      4      6
11         780000      6      1      6      0      1      6
12         150000      7      6      0      3      4      2
13         330000      2      2      6      7      5      2
14         640000      0      5      4      1      6      2
15         460000      5      4      6      2      3      5
16         540000      4      4      3      3      4      6
17         260000      1      1      4      2      5      2
18         660000      3      4      2      6      0      0
19         680000      7      0      6      5      0      0
20         580000      1      4      5      3      2      2
21         360000      7      6      4      2      3      6
22         530000      2      6      3      6      5      4
23         570000      4      4      2      7      2      1
24         490000      5      5      5      0      5      2
25          90000      3      2      0      4      4      0
26         580000      6      5      4      5      3      1
27         570000      1      0      5      6      1      0
28         130000      1      6      1      7      6      3
29         390000      2      2      6      6      0      2

## Split

Split the numerical and categorical columns

In [4]:
# Split the data
data_inf_num = data_inf[num_col]
data_inf_cat = data_inf[cat_col]

## Scale and Encode

Scale the numerical column

In [5]:
# Scale the numerical
data_inf_scale = model_scaler.transform(data_inf_num)

We don't need to encode the categorical because the value already in the form of numbers

## Concate

Concate the numerical that already scaled and the categorical column

In [6]:
# Concate the data
data_inf_final = np.concatenate([data_inf_scale,data_inf_cat], axis=1)

## Predict

Now predict the data

In [7]:
# Predict
y_pred_inf= model_nb.predict(data_inf_final)
y_pred_inf

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

All predicted as default payment next month

In [8]:
data_inf.insert(7, 'Predict', y_pred_inf)

In [9]:
data_inf

    limit_balance  pay_0  pay_2  pay_3  pay_4  pay_5  pay_6  Predict
0           40000      3      4      5      7      4      6        1
1          790000      0      5      4      6      3      3        1
2          400000      1      0      6      1      3      4        1
3           60000      4      6      3      1      4      3        1
4          280000      3      3      3      7      3      4        1
5          540000      6      1      6      5      6      2        1
6          100000      2      2      2      6      0      5        1
7          590000      2      5      3      7      0      2        1
8          430000      4      2      1      0      6      0        1
9          660000      1      2      0      6      3      5        1
10         620000      2      1      4      6      4      6        1
11         780000      6      1      6      0      1      6        1
12         150000      7      6      0      3      4      2        1
13         330000      2      2      6      7      5      2        1
14         640000      0      5      4      1      6      2        1
15         460000      5      4      6      2      3      5        1
16         540000      4      4      3      3      4      6        1
17         260000      1      1      4      2      5      2        1
18         660000      3      4      2      6      0      0        1
19         680000      7      0      6      5      0      0        1
20         580000      1      4      5      3      2      2        1
21         360000      7      6      4      2      3      6        1
22         530000      2      6      3      6      5      4        1
23         570000      4      4      2      7      2      1        1
24         490000      5      5      5      0      5      2        1
25          90000      3      2      0      4      4      0        1
26         580000      6      5      4      5      3      1        1
27         570000      1      0      5      6      1      0        1
28         130000      1      6      1      7      6      3        1
29         390000      2      2      6      6      0      2        1